<AuthorizeView>
    <Authorized>
        <a href="/identity/logout">Sign Out</a>
    </Authorized>
    <NotAuthorized>
        <a href="/identity/login">Sign In</a>
    </NotAuthorized>
</AuthorizeView>

@code {

}
